.restaurant__box {
    margin: $gutter-vertical-large 0;

    .restaurant-top__box {
        margin-bottom: 6.4rem;

        @include respond(tab-port) {
            .col-1-of-4 {
                width: 50%;
            }
        }
    }

    .restaurant-bottom__box {
        margin-bottom: 8.8rem;
    }

    .header-secondary {
        margin-bottom: 8.8rem;
    }

    .restaurant-item__box {
        .restaurant-item__image {
            position: relative;
            border-radius: 1.6rem;
            margin-bottom: 2.4rem;

            img {
                border-radius: inherit;
                width: 100%;
                height: auto;
            }

            .restaurant-item__tag {
                position: absolute;
                top: 2.4rem;
                left: 2.4rem;
                font-family: 'Source Sans Pro', sans-serif;
                @include style-text($fs-1, $fw-1, $color-white);
                line-height: $line-height-3;

                img {
                    height: 50%;
                    width: auto;
                }

                @include respond(small-desktop) {
                    img {
                        height: 50%;
                        width: auto;
                    }

                    @include style-text($default-font-size, $fw-1, $color-white);
                    line-height: $line-height-2;
                }

                @include respond(tab-land) {
                    display: block;
                    top: 1rem;
                    left: 1rem;

                    img {
                        height: 20%;
                        width: auto;
                    }

                    @include style-text($default-font-size, $fw-1, $color-white);
                    line-height: $line-height-2;
                }

                .item__discount,
                .item__time {
                    padding: 8px 16px;
                    border-radius: 8px;

                    img {
                        margin-right: 10px;

                        @include respond(tab-land) {
                            display: none;
                        }

                    }
                }

                .item__discount {
                    background: $color-secondary-dark;
                    margin-right: 8px;

                    @include respond(tab-land) {
                        margin-bottom: 1rem;
                    }

                }

                .item__time {
                    background: $color-primary-light;

                }
            }
        }

        .restaurant-item__infor {
            margin-bottom: 3.2rem;
            align-items: center;

            .restaurant-item__logo {
                margin-right: 2.4rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .restaurant-item__text {
                .header-tertiary {
                    margin-bottom: 4px;
                }

                p {
                    color: $color-primary-light;

                    img {
                        margin-right: 8px;
                    }
                }
            }
        }

        .restaurant-item__status {
            font-family: 'Source Sans Pro', sans-serif;
            display: inline-block;
            padding: 8px 16px;
            border-radius: 1.6rem;
            line-height: 120%;
            @include style-text($fs-1, $fw-1, $color-secondary-dark);
        }

        .restaurant-close {
            background: rgba(241, 114, 40, 0.2);
        }

        .restaurant-open {
            color: #79B93C;
            background: rgba(121, 185, 60, 0.2);
        }
    }

    .restaurant-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;

        button {
            justify-content: center;
            align-items: center;
            padding: 2.1rem 4.8rem;
            background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
            box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
            border: none;
            border-radius: 14px;
            font-family: 'Source Sans Pro', sans-serif;
            @include style-text($default-font-size, $fw-1, $color-white);
            line-height: 100%;
            text-align: center;

            img {
                font-size: 1.8px;
                margin: 0 8px;
                border-radius: inherit
            }
        }
    }
}