.feature-food__box {
    background-color: #FEEFD0;
    padding: 13rem 0 8rem;

    .feature-food__content {
        width: 63%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
        border-radius: 4.6rem;
        padding: 5.5rem;

        .feature-food-item__box {
            img {
                width: 100%;
                height: auto;
            }

            h3 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: $fw-1;
                font-size: $fs-3;
                line-height: 120%;
                background: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}