footer {
    .cta__box {
        position: relative;

        .cta__banner {
            width: 100%;
            height: auto;
        }

        .cta__content {
            position: absolute;
            width: 72.8rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h2 {
                @include style-text(5.7rem, $fw-2, $color-white);
                line-height: 5.6rem;
                text-align: center;
                margin-bottom: 6.2rem;
            }

            button {
                background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
                border: none;
                border-radius: 8px;

                a {
                    display: block;
                    font-family: 'Source Sans Pro', sans-serif;
                    line-height: 1.8rem;
                    padding: 2.1rem 4.8rem;
                    @include nav-link($color-white, inherit, $default-font-size, $fw-2);

                    img {
                        margin: 0 1rem;
                    }

                }
            }

        }
    }

    .footer__box {
        background: $color-grey-dark-1;
        color: $color-grey-light;
        padding: 8rem 0 6rem;

        .footer-nav__top {
            margin-bottom: 8rem;

            .header-tertiary {
                color: $color-white;
                text-align: left;
                margin-bottom: 4rem;
            }

            .footer-nav__row {
                justify-content: space-between;


                .footer-nav__col {
                    width: 12%;


                }
            }
        }

        .footer-nav__bottom {
            border-top: 2px solid #424242;
            border-bottom: 2px solid #424242;
            padding: 8rem 0;

            .footer-nav__row {
                justify-content: space-between;


                .footer-nav__col {
                    width: 35%;

                    .header-tertiary {
                        color: $color-white;
                        text-align: left;
                        margin-bottom: 4rem;
                    }


                }
            }

            .footer-nav__bottom-right {
                font-weight: $fw-1;
                color: $color-grey-light;

                h3 {
                    padding: 9px 0;
                    margin-bottom: 4rem;
                }

                .footer-nav__bottom-social {
                    margin-bottom: 4rem;

                    img {
                        margin-right: 1.6rem;
                    }
                }

                .footer-nav__bottom-text {
                    margin-bottom: 4rem;

                }

                .footer-nav__bottom-form {
                    align-items: stretch;

                    .footer-nav__bottom-input {
                        align-items: center;
                        background: $color-grey-dark;
                        padding: 1.8rem;
                        border-radius: 8px;
                        margin-right: 1.6rem;
                        margin-bottom: 0rem;

                        input {
                            font-family: 'Open Sans', sans-serif;
                            font-size: $default-font-size;
                            line-height: $line-height-2;
                            background: inherit;
                            border: none;

                            &:focus-visible {
                                outline: none;
                            }
                        }

                        img {
                            margin: 0 1rem;
                        }
                    }

                    .footer-nav__bottom-button {
                        background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
                        padding: 2.1rem 4.2rem;
                        font-weight: $fw-1;
                        color: $color-white;
                        border-radius: 8px;

                    }
                }


            }


        }

        .footer-nav__copyright {
            justify-content: space-between;
            font-family: 'Open Sans', sans-serif;

            img {
                margin: 0 4px;
            }

            span {
                font-weight: $fw-1;

            }
        }
    }

    .nav-list {
        list-style-type: none;

        .nav-item {
            margin-bottom: 1.6rem;

            .nav-link {
                @include nav-link($color-grey-light, inherit, $default-font-size, $default-font-weight)
            }
        }

    }

}