.how-it-work__box {
    margin: $gutter-vertical-large 0;
    padding: 8rem;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

    .Work-features__box {
        width: 68%;
        margin: $gutter-vertical-large auto;
    }
}