.meals-carousel__box {
    .popular-meal__item {
        padding: 8px;

        .popular-meal__image {
            border-radius: 16px;
            width: 100%;
            height: auto;
        }

        .header-tertiary {
            text-align: left;
        }
    }

    .popular-meal__name {
        @include style-text($fs-1, $default-font-weight, $color-primary-light);
        line-height: $line-height-3;
        margin-bottom: 8px;

        img {
            padding-right: 8px;
        }

    }

    .popular-meal__price {
        @include style-text($fs-1, $fw-1, $color-grey-dark-1);
        line-height: $line-height-3;
        margin-bottom: .8rem;
    }

    .popular-meal__button {
        width: 100%;
        text-align: center;
        padding: 2.1rem 4.8rem;
        background: $color-secondary-dark;
        box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
        border: none;
        border-radius: 8px;
        margin-bottom: .8rem;

        a {
            @include nav-link($color-white, inherit, $default-font-size, $fw-1);
            line-height: 100%;
            text-align: center;
        }
    }

    .slick-prev:before,
    .slick-next:before {
        // color: #FFB20E;
        background: #FFB20E;
        border: 1px solid #FAAA01;
        box-sizing: border-box;
        border-radius: 92px;
        font-size: 7.6rem;

        @include respond(tab-land) {
            font-size: 5.6rem;

        }

        @include respond(tab-port) {
            display: none;
        }

    }

    .slick-prev {
        left: -8.3rem;
    }
}