.search-food__box {
    background: green;
    padding: 6rem 0;
    background-color: #FEFAF1;

    .search-food__title {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8.8rem;

        .search-food__header {
            display: flex;
            justify-content: center;
            align-items: center;

            .header-secondary {
                color: $color-grey-dark-1;
                margin-bottom: 0;
            }
        }


        .search-food__button {
            font-family: 'Source Sans Pro', sans-serif;
            align-items: center;

            .search-food__text {
                padding: 1rem;
                margin: 0 1rem;

                p {
                    padding: 0 1rem;
                    color: $color-primary-light;
                }
            }

            .button-cycle {
                background-color: $color-primary-light;
                width: 7.6rem;
                height: 7.6rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1.1rem;

                img {
                    width: 30%;
                    height: auto;
                }
            }
        }
    }

    .food-item__box {
        padding: 1.7rem;

        .food-item__img {
            border-radius: 50%;
            margin-bottom: 2.6rem;

            img {
                border-radius: inherit;
                width: 100%;
                height: auto;
            }
        }

    }


    .slick-prev:before,
    .slick-next:before {
        // color: #FFB20E;
        background: #FFB20E;
        border: 1px solid #FAAA01;
        box-sizing: border-box;
        border-radius: 92px;
        font-size: 7.6rem;

    }

    .slick-prev {
        left: -8.3rem;
    }
}