// Color
$color-primary:#FFCD1E;
$color-primary-light:#FFB30E;
$color-primary-dark:#FFB800;

$color-secondary-light:#FFAE00;
$color-secondary-dark: #F17228;

$color-grey-dark: #424242;
$color-grey-dark-1: #212121;

$color-white: #fff;
$color-black: #000;

// Font-size
$default-font-size: 1.6rem;
$fs-1:2.2rem;
$fs-2:2.8rem;
$fs-3:3.5rem;
$fs-4:4.3rem;
$fs-5:6.8rem;
$fs-6:8.8rem;

// Font-weight
$default-font-weight: 400;
$fw-1: 700;
$fw-2: 900;

// Line height;
$default-line-height: 1.8rem;
$line-height-1: 2.25rem;
$line-height-2: 2.52rem;
$line-height-3: 2.64rem;
$line-height-4: 4.3rem;
$line-height-5: 4.8rem;
$line-height-6: 7.28rem;

// dimension
$grip-width : 104rem;
$gutter-vertical-medium: 7rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 1.6rem;

$gutter-horizontal: 1.6rem;

// margin
$margin-large: 3.2rem;
$margin-medium: 1.6rem;
$margin-small: 1.4rem;