*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px

    @include respond(desktop) {
        font-size: 50%;
    }

    @include respond(small-desktop) {
        font-size: 40%;
    }

}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-white;
    color: $color-grey-dark-1;
}